include ../mixins/list

.section(style="background-image: url('img/bg/bg1.jpg');")
	.container
		.logo
			img(src="img/logo.svg")
		h1.title Бесплатный апгрейд
			br
			|компьютера за 1 год!
		.row
			.col-sm-6
				.title.title_thin.title_druzhko Очередной развод?
			.col-sm-6.text-right
				.title.title_yellow.title_kiselev Не думаю!


.section.section_space_2x(style="background-image: url('img/bg/bg2.jpg');")
	.container
		p.text-center Наверняка ты уже знаешь, что такое криптовалюты.
			img.bitcoin-img(src="img/bitcoin.svg")
			br
			| Твой компьютер
			= ' '
			b может зарабатывать
			= ' '
			| деньги
			= ' '
			b
				u без твоего участия
			| .

		img.section__abs-img(src='img/img-1.png')

		h2.title.title_yellow.title_space_2x.text-center Каким образом?

		.row
			.col-sm-8
				p.desc
					b Установи
					= ' '
					| нашу программу для майнинга и, пока ты отдыхаешь от доты, компьютер
					= ' '
					b работает на тебя!

.section.section_space_3x(style="background-image: url('img/bg/bg3.jpg');")
	.container
		img.section__abs-img(src='img/img-3.png')

		.row.section__mb_5
			.col-sm-5
				img(src='img/img-2.png')

			.col-sm-7.section__left-space-sm
				h2.title.title_yellow.title_space-top_0 Преимущества:
				+list(list)

		.row
			.col-sm-8
				p Не нужно
					= ' '
					b никаких вложений
					= ' '
					| и заморочек. Сразу
					= ' '
					u после установки
					= ', '
					| ты увидишь прогнозируемый
					= ' '
					b заработок и сразу начнут идти деньги
					| .