.section(style="background-image: url('img/bg/bg1.jpg');")
	ul.list
		li lorem lorem lorem lorem lorem
		li lorem lorem lorem lorem lorem
		li lorem lorem lorem lorem lorem

.section(style="background-image: url('img/bg/bg2.jpg');")

.section(style="background-image: url('img/bg/bg3.jpg');")
