include ../mixins/list

.section(style="background-image: url('img/bg/bg1.jpg');")
	+list(list)

.section(style="background-image: url('img/bg/bg2.jpg');")

.section(style="background-image: url('img/bg/bg3.jpg');")
