// FOOTER
footer.footer.fullpage__section.fp-auto-height(style="background-image: url('img/bg/bg4.jpg');")
	.container
		.row
			.col-sm-8.push-sm-4.text-center
				h2.title.title_yellow.title_space-top_0 Зарегистрируйся и скачай программу
				button.btn Скачать
