// FOOTER
footer.footer(style="background-image: url('img/bg/bg4.jpg');")
	.container
		.row
			.col-sm-7.push-sm-5.text-center
				h2.title.title_yellow Зарегистрироваться и скачать программу
				button.btn Скачать
